body {
    
    background: rgb(108, 176, 255) url("example_image.png") repeat-x center fixed;
  }
  h1 {
    color: blue;
  }
  p {
    border-style: groove;
    font-family: verdana;
    font-size: 3vw;
    color: rgb(0, 0, 0);
  }
  .redoutline {
    background-color: tomato;
    color: white;
    padding: 10px;
  }
  #testword {
    background-color: rgb(0, 75, 100);
    color: rgb(100, 0, 75);
    padding: 10px;
    text-align: center;
  }  